<div class="container py-3">
  <div class="alert alert-<%= alert_class %> alert-dismissible fade show" role="alert">
    <strong><i class="fa-solid fa-<%= icon_class %>"></i></strong> 
    <%= content %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>