// Entry point for your Sass build

@import "_bootstrap";

.h-full {
  // Full viewport minus header height
  min-height: calc(100vh - 56px);
}

body.signed-in *.d-signed-out {
  display: none !important;
}

body.signed-out *.d-signed-in {
  display: none !important;
}

body.user-not-admin .user-is-admin {
  display: none !important;
}